<div *ngIf="isOrder">
    <h1>Le tue prenotazioni</h1>
    <div *ngFor="let evento of listaOrdine; index as i">
        <div class="card">
            <h4>Ombrellone</h4>
            <div class="container">
                <p>In riga: {{listaOrdine[i].numberRow}}</p>
                <p>In colonna: {{listaOrdine[i].numberColumn}}</p>
                <h4><b>Prezzo: {{listaOrdine[i].price}}€</b></h4>
                <button class="removeFromOrder" (click)="removeFromOrder(listaOrdine[i])">rimuovi</button>
            </div>
        </div>
    </div>
    <button class="addToCart" (click)="addToCart()">Aggiungi l'ordine al carrello</button>
</div>
<h1>Ombrelloni disponibli per essere prenotati</h1>
<div *ngFor="let evento of listaOmbrelloni; index as i">
    <div class="card">
        <h4>Ombrellone</h4>
        <div class="container">
            <p>In riga: {{listaOmbrelloni[i].numberRow}}</p>
            <p>In colonna: {{listaOmbrelloni[i].numberColumn}}</p>
            <h4><b>Prezzo: {{listaOmbrelloni[i].price}}€</b></h4>
            <button class="addToOrder" (click)="addToOrder(listaOmbrelloni[i])">Aggiungi all'ordine</button>
        </div>
    </div>
</div>