<div class="div-container">

  <div *ngIf="isAdmin" class=form-wrapper>
    <form name="formOmbrellone" (ngSubmit)="onAddOmbrellone()" #f="ngForm" novalidate>
      <div class="form-title">
        <h1>Crea un nuovo ombrellone</h1>
      </div>
      <div class="form-inside">
        <div class="form-group">
          <label for="numberRow">Numero riga ombrellone</label>
          <input type="text" class="form-control" name="numberRow" [(ngModel)]="formOmbrellone.numberRow" required
            #numberRow="ngModel" />
        </div>
        <div class="form-group">
          <label for="numberColumn">Numero colonna ombrellone</label>
          <input type="text" class="form-control" name="numberColumn" [(ngModel)]="formOmbrellone.numberColumn" required
            #numberColumn="ngModel" />
        </div>
        <div class="form-group">
          <label for="price">Prezzo</label>
          <input type="text" class="form-control" name="price" [(ngModel)]="formOmbrellone.price" required
            #price="ngModel" />
        </div>
        <div class="form-group">
          <label for="startDate">Data inizio</label>
          <input type="date" class="form-control" name="startDate" [(ngModel)]="formOmbrellone.startDate" required
            #startDate="ngModel" />
        </div>
        <div class="form-group">
          <label for="endDate">Data fine</label>
          <input type="date" class="form-control" name="endDate" [(ngModel)]="formOmbrellone.endDate" required
            #endDate="ngModel" />
        </div>

        <div class="form-group">
          <button class="btn">
            Crea Ombrellone
          </button>
        </div>

        <div class="alert-success" *ngIf="ombrelloneCreated">
          Hai creato l'ombrellone
        </div>
      </div>
    </form>
  </div>

  <div *ngIf="isAdmin" class=form-wrapper>
    <form name="form" #f="ngForm" novalidate>
      <div class="form-title">
        <h1>Elimina un ombrellone</h1>
      </div>
      <div class="form-inside">
        <div class="form-group">
          <label for="sect">Ombrelloni Attualmente Presenti</label>
          <select class="form-control" id="sect" name="status" [(ngModel)]="formRemoveOmbrellone.id">
            <option *ngFor="let ombrellone of allFreeOmbrellone | async" [value]="ombrellone.id">
              ROW: {{ombrellone.numberRow}} COLUMN: {{ombrellone.numberColumn}}</option>
          </select>
        </div>
        <div class="form-group">
          <button class="btn" (click)="onDeleteOmbrellone()">
            Elimina Ombrellone
          </button>
        </div>

        <div class="alert-success" *ngIf="sectionDeleted">
          Sezione eliminato con successo
        </div>
      </div>
    </form>
  </div>

  <div *ngIf="isAdmin || isEventManager" class=form-wrapper>
    <form name="form" (ngSubmit)="onCreateEvent()" #f="ngForm" novalidate>
      <div class="form-title">
        <h1>Crea un nuovo Evento</h1>
      </div>
      <div class="form-inside">
        <div class="form-group">
          <label for="name">Nome</label>
          <input type="text" class="form-control" name="name" [(ngModel)]="formEvento.name" required #name="ngModel" />
        </div>
        <div class="form-group">
          <label for="location">Posizione</label>
          <input type="text" class="form-control" name="location" [(ngModel)]="formEvento.location" required
            #location="ngModel" />
        </div>
        <div class="form-group">
          <label for="date">Data</label>
          <input type="date" class="form-control" name="date" [(ngModel)]="formEvento.date" required
            #dataFine="ngModel" />
        </div>
        <div class="form-group">
          <label for="description">Descrizione</label>
          <input type="text" class="form-control" name="description" [(ngModel)]="formEvento.description" required
            #description="ngModel" />
        </div>
        <div class="form-group">
          <label for="price">Prezzo</label>
          <input type="text" class="form-control" name="price" [(ngModel)]="formEvento.price" required
            #price="ngModel" />
        </div>

        <div class="form-group">
          <button class="btn">
            Crea Evento
          </button>
        </div>

        <div class="alert-success" *ngIf="eventCreated">
          Evento creato con successo
        </div>
      </div>
    </form>
  </div>

  <div *ngIf="isAdmin || isEventManager" class=form-wrapper>
    <form name="form" (ngSubmit)="onDeleteEvent()" #f="ngForm" novalidate>
      <div class="form-title">
        <h1>Elimina un Evento</h1>
      </div>
      <div class="form-inside">
        <div class="form-group">
          <label for="evento">Eventi Attualmente Presenti</label>
          <select class="form-control" id="evento" name="evento" [(ngModel)]="formEvento.evento" required
            #evento="ngModel">
            <option *ngFor="let evento of eventList" [value]="evento.id">
              {{evento.name}}
            </option>
          </select>
        </div>
        <div class="form-group">
          <button class="btn">
            Elimina Evento
          </button>
        </div>

        <div class="alert-success" *ngIf="eventDeleted">
          Evento eliminato con successo
        </div>
      </div>
    </form>
  </div>

  <div *ngIf="isAdmin" class=form-wrapper>
    <form name="form" (ngSubmit)="onCreateMenuSection()" #f="ngForm" novalidate>
      <div class="form-title">
        <h1>Crea una nuova sezione del menu</h1>
      </div>
      <div class="form-inside">
        <div class="form-group">
          <label for="sectionName">Nome</label>
          <input type="text" class="form-control" name="sectionName" [(ngModel)]="formMenuSection.sectionName" required
            #name="ngModel" />
        </div>
        <div class="form-group">
          <button class="btn">
            Crea Sezione
          </button>
        </div>

        <div class="alert-success" *ngIf="sectionCreated">
          Sezione creata con successo
        </div>
      </div>
    </form>
  </div>

  <div *ngIf="isAdmin" class=form-wrapper>
    <form name="form" #f="ngForm" novalidate>
      <div class="form-title">
        <h1>Elimina una sezione del menu</h1>
      </div>
      <div class="form-inside">
        <div class="form-group">
          <label for="sect">Sezioni Attualmente Presenti</label>
          <select class="form-control" id="sect" name="status" [(ngModel)]="formRemoveMenuSection.id">
            <option *ngFor="let section of sectionCall | async" [value]="section.id">
              {{section.sectionName}}</option>
          </select>
        </div>
        <div class="form-group">
          <button class="btn" (click)="onDeleteSection()">
            Elimina Sezione
          </button>
        </div>

        <div class="alert-success" *ngIf="sectionDeleted">
          Sezione eliminata con successo
        </div>
      </div>
    </form>
  </div>

  <div *ngIf="isAdmin" class=form-wrapper>
    <form name="form" (ngSubmit)="onCreateMenuElement()" #f="ngForm" novalidate>
      <div class="form-title">
        <h1>Crea un nuovo elemento del menu</h1>
      </div>
      <div class="form-inside">
        <div class="form-group">
          <label for="name">Nome</label>
          <input type="text" class="form-control" name="name" [(ngModel)]="formMenuElement.name" required
            #name="ngModel" />
        </div>
        <div class="form-group">
          <label for="description">Descrizione</label>
          <input type="text" class="form-control" name="description" [(ngModel)]="formMenuElement.description" required
            #name="ngModel" />
        </div>
        <div class="form-group">
          <label for="price">Prezzo</label>
          <input type="text" class="form-control" name="price" [(ngModel)]="formMenuElement.price" required
            #name="ngModel" />
        </div>

        <div class="form-group">
          <label for="menuSection">Sezione del menu</label>
          <select class="form-control" name="status" [(ngModel)]="formMenuElement.menuSection">
            <option *ngFor="let section of sectionCall | async" [value]="section.id">
              {{section.sectionName}}</option>
          </select>
        </div>

        <div class="form-group">
          <button class="btn">
            Crea Elemento
          </button>
        </div>

        <div class="alert-success" *ngIf="elementCreated">
          Elemento creato con successo
        </div>
      </div>
    </form>
  </div>

  <div *ngIf="isAdmin" class=form-wrapper>
    <form name="form" #f="ngForm" novalidate>
      <div class="form-title">
        <h1>Elimina un elemento del menu</h1>
      </div>
      <div class="form-inside">
        <div class="form-group">
          <label for="element">Elementi Attualmente Presenti</label>
          <select class="form-control" id="element" name="status" [(ngModel)]="formRemoveMenuElement.id">
            <option *ngFor="let element of elementList" [value]="element.id">
              {{element.name}}</option>
          </select>
        </div>
        <div class="form-group">
          <button class="btn" (click)="onDeleteElement()">
            Elimina Elemento
          </button>
        </div>

        <div class="alert-success" *ngIf="elementDeleted">
          Elemento eliminato con successo
        </div>
      </div>
    </form>
  </div>

  <div *ngIf="isAdmin" class="user-wrapper">
    <div class="title">
      <h1>Lista utenti</h1>
    </div>
    <div *ngFor="let user of allUserList | async">
      <p>User: {{user.username}} Role: {{user.role}}</p>
      <select class="form-control" name="status" [(ngModel)]="formRoleChange.role">
        <option [value]="'USER'">USER</option>
        <option [value]="'ADMIN'">ADMIN</option>
        <option [value]="'BAR'">BAR</option>
        <option [value]="'EVENT_MANAGER'">EVENT_MANAGER</option>
        <option [value]="'RECEPTION'">RECEPTION</option>
      </select>
      <button class="btn" (click)="changeUserRole(user)">Cambia</button>
    </div>
  </div>

  <div class="order-wrapper" *ngIf="isAdmin || isBar">
    <div class="form-title">
      <h1>Lista ordinazioni pending</h1>
    </div>
    <div *ngFor="let order of allPendingOrderList">
      <p>Order: {{order.id}} User: {{order.user!.username}}</p>
      <button class="btn" (click)="updateOrderStatus(order)">In Progress</button>
    </div>
  </div>

  <div class="form-wrapper" *ngIf="isAdmin || isBar">
    <div class="form-title">
      <h1>Lista ordinazioni in progress</h1>
    </div>
    <div *ngFor="let order of allInProgressOrderList">
      <p>Order: {{order.id}} User: {{order.user!.username}}</p>
      <button class="btn" (click)="updateOrderStatus(order)">Completato</button>
    </div>
  </div>

  <div class="form-wrapper" *ngIf="isAdmin || isBar">
    <div class="form-title">
      <h1>Lista ordinazioni completate</h1>
    </div>
    <div *ngFor="let order of allCompletedOrderList">
      <p>Order: {{order.id}} User: {{order.user!.username}}</p>
      <button class="btn" (click)="updateOrderStatus(order)">Consegnato</button>
    </div>
  </div>

  <div class="form-wrapper" *ngIf="isAdmin || isBar">
    <div class="form-title">
      <h1>Lista ordinazioni consegnate</h1>
    </div>
    <div *ngFor="let order of allDeliveredOrderList">
      <p>Order: {{order.id}} User: {{order.user!.username}}</p>
      <button class="btn" (click)="updateOrderStatus(order)">Pagato</button>
    </div>
  </div>

  <div class="form-wrapper" *ngIf="isAdmin || isBar">
    <div class="form-title">
      <h1>Lista ordinazioni pagate</h1>
    </div>
    <div *ngFor="let order of allPaidOrderList">
      <p>Order: {{order.id}} User: {{order.user!.username}}</p>
    </div>
  </div>

  <div class="form-wrapper" *ngIf="isAdmin || isAccoglienza">
    <div class="form-title">
      <h1>Lista Prenotazioni</h1>
    </div>
    <div *ngFor="let prenotazione of prenotazioniList">
      <p>User: {{prenotazione.user!.username}} <br> Date: {{prenotazione.date}} <br> Stato:
        {{prenotazione.statoPrenotazione}}
        <button class="btn" (click)="checkIn(prenotazione)">Check In</button>
    </div>
  </div>
</div>