/* Centro */
.center{
    position: relative;
    text-align: center;
    font-size: 0;
}

.center img{
    width: 100%;
    height: 90vh;
}

.centerText{
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.centerText h1{
    font-size: 6vw;
    text-shadow: 4px 4px 2px black;
}

.centerText h2{
    font-size: 4vw;
    margin-bottom: 1em;
    text-shadow: 4px 4px 2px black;
}

.centerButton {
	color: white;
	background-color: #4388d1;
	border: 5px solid transparent;
	transition: .2s ease;
	border-radius: 50px;
    padding: 1vh 3vw;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
}

.centerButton:hover {
	color: #4388d1;
	background-color: white;
	transform: scale(1.1);
	border: 5px solid #4388d1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.20), 0 6px 20px 0 rgba(0, 0, 0, 0.20);
}

/* About */
.about{
    text-align: center; 
    padding: 2vw; 
}

.about h2{
    font-size: 3rem;
}

.about p{
    font-size: 1.2rem;
}

/* Contattaci */
.contact{
    text-align: center; 
    padding: 2vw; 

}

.contact h2{
    font-size: 3rem;
}

.contact p{
    font-size: 1.2rem;
}