<div class="center">
    <img src="../../assets/onde.jpg" alt="Onde">
    <div class="centerText">
        <h1>Balneare Cameo</h1>
        <h2>Prenota il tuo ombrellone ora!</h2>
        <a routerLink="/prenota" class="centerButton">Prenota</a>
    </div>
</div>

<div id="about" class="about">
    <h2>Stabilimento balneare cameo</h2>
    <p>Sul litorale Marchigiano, incastonata tra scogli secolari e acque cristalline, lo stabilimento balneare Cameo ti
        aspetta con i suoi colori intensi e brillanti.
        <br> Lasciati cullare dalle onde, dal profumo del mare, dalla piacevole
        sensazione della finissima sabbia.
        <br>Goditi il mare meraviglioso del nostro litorale.
        A tutto il resto penseremo noi!
    </p>
</div>

<div id="contact" class="contact">
    <h2>Hai delle domande? Contattaci!</h2>
    <p>Siamo sempre disponibili per ogni informazione riguardante il nostro balneare, i nostri clienti possono
        contattarci in vari modi.
        <br>Puoi contattarci usando la nostra mail: <a href="mailto:cameoBeach@gmail.com">cameoBeach@gmail.com</a>
        <br>Usando il nostro numero telefonico: +39 123456789
    </p>
</div>