<div *ngIf="isEvento">
    <h1>Le tue prenotazioni</h1>
    <div *ngFor="let evento of listaOrdine; index as i">
        <div class="card">
            <h4>Ombrellone</h4>
            <div class="container">
                <p>In data: {{listaOrdine[i].date}}</p>
                <p>Descrizione: {{listaOrdine[i].description}}</p>
                <p>Lugo:{{listaOrdine[i].location}}</p>
                <h4><b>Prezzo: {{listaOrdine[i].price}}€</b></h4>
                <button class="removeFromOrder" (click)="removeFromOrder(listaOrdine[i])">rimuovi</button>
            </div>
        </div>
    </div>
    <button class="addToCart" (click)="addToCart()">Aggiungi l'ordine al carrello</button>
</div>

<h1>Lista degli eventi disponibili</h1>
<div *ngFor="let evento of listaEventi; index as i">
    <div class="card">
        <h4>{{listaEventi[i].name}}</h4>
        <div class="container">
            <p>In data: {{listaEventi[i].date}}</p>
            <p>Descrizione: {{listaEventi[i].description}}</p>
            <p>Lugo:{{listaEventi[i].location}}</p>
            <h4><b>Prezzo: {{listaEventi[i].price}}€</b></h4>
            <button class="addToCart" (click)="addToOrder(listaEventi[i])">Prenota</button>
        </div>
    </div>
</div>