<div class="container" *ngIf="currentUser; else loggedOut">
    <header class="header">
        <h3>
            Profilo di <strong>{{ currentUser.username }}</strong>
        </h3>
    </header>
    <p>
        <strong>Username:</strong>
        {{ currentUser.username}}
    </p>
    <p>
        <strong>Name:</strong>
        {{ currentUser.name}}
    </p>
    <p>
        <strong>Surname:</strong>
        {{ currentUser.surname}}
    </p>
    <p>
        <strong>Email:</strong>
        {{ currentUser.email }}
    </p>
    <p>
        <strong>Data di nascita:</strong>
        {{ currentUser.birthDate }}
    </p>
    <p>
        <strong>Ruolo:</strong>
        {{ currentUser.role }}
    </p>
</div>
<button *ngIf="isAdmin"><a routerLink="/dashboard">DashBoard</a></button>
<p>Ombrelloni Prenotati:</p>
<div *ngFor="let prenotazione of myPrenotazioni | async">
    <p>{{prenotazione.date}}</p>
    <p>{{prenotazione.statoPrenotazione}}</p>
    <p>{{prenotazione.spiaggiaPrenotazioniList?.length}}</p>
    <p>{{prenotazione.eventiPrenotatiList?.length}}</p>

    <div *ngFor="let item of prenotazione.spiaggiaPrenotazioniList">
        <div class="card">
            <h4>Ombrellone</h4>
            <div class="container">
                <p>Da: {{item.startDate}}</p>
                <p>A: {{item.endDate}}</p>
                <p>Lettini:{{item.lettini}}</p>
                <p>Sdraio:{{item.sdraio}}</p>
                <p>In riga:{{item.ombrellone.numberRow}}</p>
                <p>In colonna:{{item.ombrellone.numberColumn}}</p>
                <p>Prezzo:{{item.ombrellone.price}}</p>
                <button class="removeFromOrder">rimuovi</button>
            </div>
        </div>
    </div>
    <div *ngFor="let item of prenotazione.eventiPrenotatiList; index as i">
        <div class="card">
            <h4>Evento</h4>
            <div class="container">
                <p>Nome: {{item.name}}</p>
                <p>Prezzo: {{item.price}}</p>
                <p>Descrizione:{{item.description}}</p>
                <p>Posizione:{{item.location}}</p>
                <button class="removeFromOrder">rimuovi</button>
            </div>
        </div>
    </div>
</div>

<ng-template #loggedOut>
    Please login.
</ng-template>