<div class="container" *ngIf="currentUser; else loggedOut">
    <header class="jumbotron">
        <h3>
            Profilo di <strong>{{ currentUser.username }}</strong>
        </h3>
    </header>
    <p>
        <strong>Username:</strong>
        {{ currentUser.username}}
    </p>
    <p>
        <strong>Name:</strong>
        {{ currentUser.name}}
    </p>
    <p>
        <strong>Surname:</strong>
        {{ currentUser.surname}}
    </p>
    <p>
        <strong>Email:</strong>
        {{ currentUser.email }}
    </p>
    <p>
        <strong>Data di nascita:</strong>
        {{ currentUser.birthDate }}
    </p>
    <p>
        <strong>Ruolo:</strong>
        {{ currentUser.role }}
    </p>
</div>
<button *ngIf="isAdmin"><a routerLink="/dashboard">DashBoard</a></button>

<ng-template #loggedOut>
    Please login.
</ng-template>